/** --------------------------------------------------------------
 *  Header
 */

// Size of max navbar button
.rm-max .rm-small .rm-button {
    font-size: 2em;
}

@maxButtonFontSize: 2em;

// Style navbar
.rm-desktop li {
    background-color: #524548;
}

@navbarItemBgColor: #797D85;


// Size each item in the header
.site-logo-text,
.navbar2,
.profile {
    float: left;
    width: 40%;
}

.site-header {
    height: 4em;
    background-color: #45524f;
}

// Site title
.site-logo-text {
    font-size: 2em;


    a {
        text-decoration: none;
        color: #eae6e7;
    }
}
