@import "grid-float.less";

@columnWidth: 30;
@gutterWidth: 10;
@columns: 24;

@maxWidth: 960px;

@mediaLarge: 990px;
@mediaMedium: 920px;
@mediaSmall: 700px;


//@gridImage: "../img/grid960x12x60x20.png";
//@gridImage: ".../img/grid940x12x60x20-nomargin.png";
@gridImage: "../img/grid950x24x30x10-nomargin.png";


.inner-wrap {
    .container(@maxWidth);
    //.showGrid(@maxWidth, @gridImage);

}

.route-grid .inner-wrap {
    .showGrid(@maxWidth, @gridImage);
}


.row {
    .row();
}

.main {
    .column(22);
    .push(1);
    &.has-sidebar-left,
    &.has-sidebar-right {
        .column(17);
        .push(1);
    }
}

.sidebar {
    .column(5);
    .push(1);
}

.footer-column {
    .column(@columns / 3);
}

.site-footer {
    .column(@columns);
}

.site-logo-text {
    .column(4);
}
.navbar2 {
    .column(20);
}

.flash-wrap {
     .column(@columns);
}


.breadcrumb-wrap {
    .column(22);
    .push(1);
}

.byline {
    .column(20);
    .push(2);
}

@media (max-width: @mediaLarge) {
    .wrap-all {
        margin-left: 8px;
        margin-right: 8px;
    }

}


@media (max-width: @mediaMedium) {
    .navbar2 {
        display: none;
    }
    .site-logo-text {
        .column(16);
    }
    .rm-max .rm-small
    {
        display: block;

    }
}


@media (max-width: @mediaSmall) {
    .wrap-all {
        margin-top: 0;
        margin-bottom: 0;
        // margin: 0;

    }
    .main,
    .has-sidebar-left,
    .has-sidebar-right,
    .has-sidebar,
    .footer-column {
        .push(1);
        .column(22);
    }

    .sidebar,
    .info {
        display: none;
    }

    .navbar2 {
        display: none;
    }
    .rm-max .rm-small
    {
        display: block;

    }

    /*.rm-navbar-max {
            visibility: visible;
    }*/
}
