// .color-primary-0 { color: #FFBA10 }	/* Main Primary color */
// .color-primary-1 { color: #FFD46B }
// .color-primary-2 { color: #FFC841 }
// .color-primary-3 { color: #CE9200 }
// .color-primary-4 { color: #A27300 }
//
// .color-secondary-1-0 { color: #4D1BAE }	/* Main Secondary color (1) */
// .color-secondary-1-1 { color: #835FC7 }
// .color-secondary-1-2 { color: #663CB6 }
// .color-secondary-1-3 { color: #390D8C }
// .color-secondary-1-4 { color: #2C096F }
//
// .color-secondary-2-0 { color: #1078A0 }	/* Main Secondary color (2) */
// .color-secondary-2-1 { color: #54A0BE }
// .color-secondary-2-2 { color: #3188AA }
// .color-secondary-2-3 { color: #055F81 }
// .color-secondary-2-4 { color: #034B66 }
//

@import url(style.base.less);


//Body
@bodyBGC: #1078A0;

// Header
@headerBGC: #FFBA10;
@logoTextColor: #000;

// Breadcrumb
@breadBGC: #FFBA10;
@breadColor: #2C096F;

// Base Menu
@menuBGC: #FFBA10;
@menuHoverBGC: #A27300;
@menuColor: #000;
@menuSelected: #000;
@menuSelectedBG: #CE9200;

// Small menu
@navbarMenuButtonColor: #000;
@mobileBgColor: #A27300;
@mobileColor: #000;

// Content
@contentBGC: #F2F2F2;
@contentColor: #000;
@headingColor: #2C096F;

@borderSize: 1px;
@borderStyle: solid;
@borderColor: #000;

@bylineBGC: #54A0BE;
@bylineColor: #000;

@codeBlockBGC: #54A0BE;
@codeBlockColor: #000;

// Footer

@footerBGC: #FFBA10;
@footerColor: #000;

@footerBlockBGC: #A27300;
@footerBlockColor: #000;

// Links

@linkColor: #2C096F;
@linkHoverColor: #663CB6;
@linkVisitedColor: #390D8C;
@linkHoverDecoration: underlined;
@linkDecoration: bold;

@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

@headingFont: 'Roboto Slab', serif;
@defaultFont: 'Open Sans', sans-serif;
